openapi: 3.0.3
info:
  title: Empire - Platform API
  description: |
    OpenAPI specification for the Platform REST API of Empire

    **System Time:** Europe/Amsterdam

    **General data formats:**
      * _capacity values_ => kW (integers)
      * _dates and local times_ => System Time
      * _currencies_ => EUR
  version: 0.179.11
  contact:
    name: BritNed
    url: https://www.britned.com
    email: britned.info@britned.com
  termsOfService: https://www.britned.com/who-we-are/about-britned/empire-api-terms-of-use/
servers:
  - description: PRODUCTION
    url: https://api.empire.scapps.io
  - description: TRAINING
    url: https://api.training.empire.scapps.io
tags:
  - name: metadata
    description: Metadata endpoints
  - name: attachment
    description: Attachments
  - name: auction
    description: Auctions
  - name: audit-log
    description: Audit Logs
  - name: bidding-configuration
    description: Bidding Configuration
  - name: buy-now-offers
    description: Buy Now Offers
  - name: default-bid
    description: Default Bids
  - name: default-nomination
    description: Default Nominations
  - name: finance-information
    description: Finance Information
  - name: finance
    description: Finance
  - name: manual-file-upload
    description: Manual File Upload
  - name: messages
    description: Messages
  - name: nomination
    description: Nominations
  - name: organisation-document
    description: Organisation Documents
  - name: organisation
    description: Organisations
  - name: participant-dashboard
    description: Participant Dashboard
  - name: participant-overview
    description: Participant Overview
  - name: profile
    description: Profile
  - name: public-allocated-auction
    description: Public / Allocated Auctions
  - name: public-auction
    description: Public / Auctions
  - name: public-nominations
    description: Public / Nominations
  - name: reporting
    description: Reporting
  - name: secondary-market
    description: Secondary Market
  - name: transmission-right
    description: Transmission Rights
  - name: user
    description: Users
paths:
  /v1/public/version:
    get:
      operationId: getVersion
      description: |
        Fetch the current version of the Platform Backend and API in MAJOR.MINOR.PATCH format
      tags:
        - metadata
      responses:
        '200':
          description: __OK__
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Version'
  /v1/attachments:
    post:
      operationId: uploadAttachment
      description: |-
        Upload a single Attachment (file)

        On successful upload the file gets persisted and metadata for the Attachment is returned. The Attachment can be referenced by its identifier in other functions (e.g Organisation Documents)

        **File size limit:** 50 MB

        **File types accepted:**
          * images:
            - .jpg  | image/jpeg
            - .png  | image/png
          * documents:
            - .doc  | application/msword
            - .docx | application/vnd.openxmlformats-officedocument.wordprocessingml.document
            - .xls  | application/vnd.ms-excel
            - .xlsx | application/vnd.openxmlformats-officedocument.spreadsheetml.sheet
            - .ppt  | application/vnd.ms-powerpoint
            - .pptx | application/vnd.openxmlformats-officedocument.presentationml.presentation
            - .pdf  | application/pdf
          * text files:
            - .txt  | text/plain
            - .xml  | application/xml
            - .json | application/json
          * archives:
            - .zip  | application/zip
            - .rar  | application/vnd.rar

        ---

        __Requires Permission:__ (at least one)
          * `MANAGE_CRISIS_ACTIONS`
          * `INVITE_USERS`
          * `MANAGE_OWN_MANUAL_FILE_UPLOAD_BIDS`
          * `MANAGE_OWN_MANUAL_FILE_UPLOAD_NOMINATIONS`
          * `MANAGE_ANY_MANUAL_FILE_UPLOAD`
          * `MANAGE_ANY_ORGANISATION_DOCUMENTS`
          * `MANAGE_OWN_ORGANISATION_DOCUMENTS`

        __Generates Audit Log Entry:__ `UPLOAD_ATTACHMENT`
      tags:
        - attachment
      security:
        - ApiKey: []
        - AuthToken: []
      x-permissions:
        - MANAGE_CRISIS_ACTIONS
        - INVITE_USERS
        - MANAGE_OWN_MANUAL_FILE_UPLOAD_BIDS
        - MANAGE_OWN_MANUAL_FILE_UPLOAD_NOMINATIONS
        - MANAGE_ANY_MANUAL_FILE_UPLOAD
        - MANAGE_ANY_ORGANISATION_DOCUMENTS
        - MANAGE_OWN_ORGANISATION_DOCUMENTS
      x-audit-log: UPLOAD_ATTACHMENT
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - fileName
                - file
              properties:
                fileName:
                  $ref: '#/components/schemas/FileName'
                file:
                  type: string
                  format: binary
      responses:
        '201':
          description: __Created__
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Attachment'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '413':
          description: |
            __Payload Too Large__

            The attachment to be uploaded exceeded to defined size limit
        '422':
          description: |-
            __Unprocessable Entity__

            *  `INVALID_ATTACHMENT_FILE_TYPE` - only files with the specified file types can be uploaded
          x-errors:
            - code: INVALID_ATTACHMENT_FILE_TYPE
              description: only files with the specified file types can be uploaded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/auctions/{id}/reduction-periods:
    get:
      operationId: getAuctionReductionPeriods
      description: |-
        Fetch reduction periods that possibly affects the Auction

        ---

        __Requires Permission:__ (at least one)
          * `VIEW_PUBLISHED_AUCTIONS`
          * `VIEW_ANY_AUCTIONS`
      tags:
        - auction
      security:
        - ApiKey: []
        - AuthToken: []
      x-permissions:
        - VIEW_PUBLISHED_AUCTIONS
        - VIEW_ANY_AUCTIONS
      parameters:
        - $ref: '#/components/parameters/Identifier'
      responses:
        '200':
          description: __OK__
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AuctionReductionPeriod'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/auctions:
    get:
      operationId: getAuctions
      description: |-
        Paginated, sortable, filterable list of Auctions

        ---

        __Requires Permission:__ (at least one)
          * `VIEW_PUBLISHED_AUCTIONS`
          * `VIEW_ANY_AUCTIONS`
      tags:
        - auction
      security:
        - ApiKey: []
        - AuthToken: []
      x-permissions:
        - VIEW_PUBLISHED_AUCTIONS
        - VIEW_ANY_AUCTIONS
      parameters:
        - $ref: '#/components/parameters/PageLimit'
        - $ref: '#/components/parameters/PageOffset'
        - name: sortBy
          in: query
          required: true
          description: Sort list by given attribute and direction
          schema:
            $ref: '#/components/schemas/AuctionSortBy'
        - $ref: '#/components/parameters/BorderDirectionOptional'
        - $ref: '#/components/parameters/TimescaleOptional'
        - $ref: '#/components/parameters/ProductTypeOptional'
        - name: status
          in: query
          description: Filter for given status
          schema:
            $ref: '#/components/schemas/AuctionStatus'
        - name: biddingPeriodStart
          in: query
          description: Filter for start of bidding period
          schema:
            $ref: '#/components/schemas/DateTime'
        - name: biddingPeriodEnd
          in: query
          description: Filter for end of bidding period
          schema:
            $ref: '#/components/schemas/DateTime'
        - name: deliveryPeriodStart
          in: query
          description: Filter for start of delivery period (aligned to MTUs)
          schema:
            $ref: '#/components/schemas/MtuStart'
        - name: deliveryPeriodEnd
          in: query
          description: Filter for end of delivery period (aligned to MTUs)
          schema:
            $ref: '#/components/schemas/MtuEnd'
        - name: query
          in: query
          description: Free text search in name
          schema:
            type: string
      responses:
        '200':
          description: __OK__
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuctionBatch'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          description: |-
            __Unprocessable Entity__

            *  `PERIOD_MISALIGNED`
                - if period start and end parameters are both set, they need to come after each other
                - both for bidding period and delivery period
            *  `MTU_BORDER_MISMATCH` - delivery period start and end dates does not comform to MTU borders
          x-errors:
            - code: PERIOD_MISALIGNED
              description: |
                - if period start and end parameters are both set, they need to come after each other
                - both for bidding period and delivery period
            - code: MTU_BORDER_MISMATCH
              description: delivery period start and end dates does not comform to MTU borders
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/auctions/long-term/{id}:
    get:
      operationId: getLongTermAuction
      description: |-
        Fetch a Long Term Auction by its identifier

        ---

        __Requires Permission:__ (at least one)
          * `VIEW_PUBLISHED_AUCTIONS`
          * `VIEW_ANY_AUCTIONS`
      tags:
        - auction
      security:
        - ApiKey: []
        - AuthToken: []
      x-permissions:
        - VIEW_PUBLISHED_AUCTIONS
        - VIEW_ANY_AUCTIONS
      parameters:
        - $ref: '#/components/parameters/Identifier'
      responses:
        '200':
          description: __OK__
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LongTermAuction'
        '400':
          description: |-
            __Bad Request__

            *  `TIMESCALE_MISMATCH` - endpoint matching Auction timescale need to be used
          x-errors:
            - code: TIMESCALE_MISMATCH
              description: endpoint matching Auction timescale need to be used
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/auctions/day-ahead/{id}:
    get:
      operationId: getDayAheadAuction
      description: |-
        Fetch a Day Ahead Auction by its identifier

        ---

        __Requires Permission:__ (at least one)
          * `VIEW_PUBLISHED_AUCTIONS`
          * `VIEW_ANY_AUCTIONS`
      tags:
        - auction
      security:
        - ApiKey: []
        - AuthToken: []
      x-permissions:
        - VIEW_PUBLISHED_AUCTIONS
        - VIEW_ANY_AUCTIONS
      parameters:
        - $ref: '#/components/parameters/Identifier'
      responses:
        '200':
          description: __OK__
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DayAheadAuction'
        '400':
          description: |-
            __Bad Request__

            *  `TIMESCALE_MISMATCH` - endpoint matching Auction timescale need to be used
          x-errors:
            - code: TIMESCALE_MISMATCH
              description: endpoint matching Auction timescale need to be used
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/auctions/intra-day/{id}:
    get:
      operationId: getIntraDayAuction
      description: |-
        Fetch an Intra Day Auction by its identifier

        ---

        __Requires Permission:__ (at least one)
          * `VIEW_PUBLISHED_AUCTIONS`
          * `VIEW_ANY_AUCTIONS`
      tags:
        - auction
      security:
        - ApiKey: []
        - AuthToken: []
      x-permissions:
        - VIEW_PUBLISHED_AUCTIONS
        - VIEW_ANY_AUCTIONS
      parameters:
        - $ref: '#/components/parameters/Identifier'
      responses:
        '200':
          description: __OK__
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntraDayAuction'
        '400':
          description: |-
            __Bad Request__

            *  `TIMESCALE_MISMATCH` - endpoint matching Auction timescale need to be used
          x-errors:
            - code: TIMESCALE_MISMATCH
              description: endpoint matching Auction timescale need to be used
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/auctions/{id}/bidding-configuration:
    get:
      operationId: getAuctionBiddingConfiguration
      description: |-
        Fetch the Participant's Bidding Configuration for the given Auction's direction

        ---

        __Requires Permission:__ (at least one)
          * `MANAGE_LT_AUCTION_BIDS`
          * `MANAGE_DA_ID_AUCTION_BIDS`
      tags:
        - auction
      security:
        - ApiKey: []
        - AuthToken: []
      x-permissions:
        - MANAGE_LT_AUCTION_BIDS
        - MANAGE_DA_ID_AUCTION_BIDS
      parameters:
        - $ref: '#/components/parameters/Identifier'
      responses:
        '200':
          description: __OK__
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BiddingConfigurationPerDirection'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/auctions/long-term/{id}/bids:
    get:
      operationId: getLongTermAuctionBids
      description: |-
        Fetch Bids for a Long Term Auction by its identifier

        ---

        __Requires Permission:__ (at least one)
          * `MANAGE_LT_AUCTION_BIDS`
      tags:
        - auction
      security:
        - ApiKey: []
        - AuthToken: []
      x-permissions:
        - MANAGE_LT_AUCTION_BIDS
      parameters:
        - $ref: '#/components/parameters/Identifier'
      responses:
        '200':
          description: __OK__
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LongTermAuctionBid'
        '400':
          description: |-
            __Bad Request__

            *  `TIMESCALE_MISMATCH` - endpoint matching Auction timescale need to be used
          x-errors:
            - code: TIMESCALE_MISMATCH
              description: endpoint matching Auction timescale need to be used
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      operationId: submitLongTermAuctionBids
      description: |-
        Submit a collection of Bids for Long Term Auctions

        Rules for creating/updating/deleting Bids:
          - a full list of every valid bid need to be always submitted
          - Bids that are not yet present in the system need to be sent with NULL identifiers
          - Bids to be edited need to be sent with their respective identifiers
          - Bids to be deleted need to be left out from the list to be submitted

        ---

        __Requires Permission:__ (at least one)
          * `MANAGE_LT_AUCTION_BIDS`

        __Generates Audit Log Entry:__ `SUBMIT_LONG_TERM_BIDS`
      tags:
        - auction
      security:
        - ApiKey: []
        - AuthToken: []
      x-permissions:
        - MANAGE_LT_AUCTION_BIDS
      x-audit-log: SUBMIT_LONG_TERM_BIDS
      parameters:
        - $ref: '#/components/parameters/Identifier'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubmitLongTermBidsRequest'
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '400':
          description: |-
            __Bad Request__

            *  `TIMESCALE_MISMATCH` - endpoint matching Auction timescale need to be used
            *  `BIDDING_NOT_POSSIBLE`
                - bidding is only possible when the Auction is in the following statuses:
                  - PRELIMINARY_SPEC_PUBLISHED (only if `preBiddingAllowed` is TRUE)
                  - FINAL_SPEC_PUBLISHED (only if `preBiddingAllowed` is TRUE)
                  - BIDDING_OPEN
            *  `CREDIT_LIMIT_EXCEEDED` - Participant's "credit limit" is already exceeded, no bidding is possible
            *  `CREDIT_LIMIT_TO_BE_EXCEECED` - if submitting and winning this bid, the Participants "credit limit" would be exceeded
          x-errors:
            - code: TIMESCALE_MISMATCH
              description: endpoint matching Auction timescale need to be used
            - code: BIDDING_NOT_POSSIBLE
              description: |
                - bidding is only possible when the Auction is in the following statuses:
                  - PRELIMINARY_SPEC_PUBLISHED (only if `preBiddingAllowed` is TRUE)
                  - FINAL_SPEC_PUBLISHED (only if `preBiddingAllowed` is TRUE)
                  - BIDDING_OPEN
            - code: CREDIT_LIMIT_EXCEEDED
              description: Participant's "credit limit" is already exceeded, no bidding is possible
            - code: CREDIT_LIMIT_TO_BE_EXCEECED
              description: if submitting and winning this bid, the Participants "credit limit" would be exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          description: |-
            __Unprocessable Entity__

            *  `INVALID_BID_ID`
                - bid to be updated is invalid, either:
                - non-existing in the system
                - not part of the given Auction
                - does not belong to the given Participant
            *  `INVALID_BID_CAPACITY`
                - capacity for long-term bid
                - must be greater than zero
                - must be a multiply of the Auction's allocation resolution
                - must be less than or equal to the "maximum bid capacity" in the Partcipant's Bidding Configuration for the Auction's border direction
            *  `INVALID_BID_PRICE`
                - must be greater than or equal to the configured "minimum bid price" for the Auction
                - must be less than or equal to the "maximum bid price" in the Participant's Bidding Configuration for the Auction's border direction
                - price value must be unique across all bids for the given Auction
            *  `TOO_MANY_BIDS`
                - you cannot enter more bids than the configured "maximum bid count per participants" for the Aucion
          x-errors:
            - code: INVALID_BID_ID
              description: |
                - bid to be updated is invalid, either:
                - non-existing in the system
                - not part of the given Auction
                - does not belong to the given Participant
            - code: INVALID_BID_CAPACITY
              description: |
                - capacity for long-term bid
                - must be greater than zero
                - must be a multiply of the Auction's allocation resolution
                - must be less than or equal to the "maximum bid capacity" in the Partcipant's Bidding Configuration for the Auction's border direction
            - code: INVALID_BID_PRICE
              description: |
                - must be greater than or equal to the configured "minimum bid price" for the Auction
                - must be less than or equal to the "maximum bid price" in the Participant's Bidding Configuration for the Auction's border direction
                - price value must be unique across all bids for the given Auction
            - code: TOO_MANY_BIDS
              description: |
                - you cannot enter more bids than the configured "maximum bid count per participants" for the Aucion
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/auctions/day-ahead-or-intra-day/{id}/bids:
    get:
      operationId: getDayAheadOrIntraDayAuctionBids
      description: |-
        Fetch Bids for a Day Ahead or an Intra Day Auction by its identifier

        ---

        __Requires Permission:__ (at least one)
          * `MANAGE_DA_ID_AUCTION_BIDS`
      tags:
        - auction
      security:
        - ApiKey: []
        - AuthToken: []
      x-permissions:
        - MANAGE_DA_ID_AUCTION_BIDS
      parameters:
        - $ref: '#/components/parameters/Identifier'
      responses:
        '200':
          description: __OK__
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DayAheadOrIntraDayAuctionBidGroup'
        '400':
          description: |-
            __Bad Request__

            *  `TIMESCALE_MISMATCH` - endpoint matching Auction timescale need to be used
          x-errors:
            - code: TIMESCALE_MISMATCH
              description: endpoint matching Auction timescale need to be used
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      operationId: submitDayAheadOrIntraDayAuctionBids
      description: |-
        Submit a collection of Bids for Day Ahead or Intra Day Auctions

        Rules for creating/updating/deleting Bids:
          - a full list of every valid bid need to be always submitted
          - Bids that are not yet present in the system need to be sent with NULL identifiers
          - Bids to be edited need to be sent with their respective identifiers
          - Bids to be deleted need to be left out from the list to be submitted

        ---

        __Requires Permission:__ (at least one)
          * `MANAGE_DA_ID_AUCTION_BIDS`

        __Generates Audit Log Entry:__ `SUBMIT_DAY_AHEAD_OR_INTRA_DAY_BIDS`
      tags:
        - auction
      security:
        - ApiKey: []
        - AuthToken: []
      x-permissions:
        - MANAGE_DA_ID_AUCTION_BIDS
      x-audit-log: SUBMIT_DAY_AHEAD_OR_INTRA_DAY_BIDS
      parameters:
        - $ref: '#/components/parameters/Identifier'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubmitDayAheadOrIntraDayBidsRequest'
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '400':
          description: |-
            __Bad Request__

            *  `TIMESCALE_MISMATCH` - endpoint matching Auction timescale need to be used
            *  `BIDDING_NOT_POSSIBLE` - bidding is only possible between PRELIMINARY_SPEC_PUBLISHED and BIDDING_CLOSED Auction states
            *  `CREDIT_LIMIT_EXCEEDED` - participant's "credit limit" is already exceeded, no bidding is possible
            *  `CREDIT_LIMIT_TO_BE_EXCEECED` - if submitting and winning this bid, the Participants "credit limit" would be exceeded
          x-errors:
            - code: TIMESCALE_MISMATCH
              description: endpoint matching Auction timescale need to be used
            - code: BIDDING_NOT_POSSIBLE
              description: bidding is only possible between PRELIMINARY_SPEC_PUBLISHED and BIDDING_CLOSED Auction states
            - code: CREDIT_LIMIT_EXCEEDED
              description: participant's "credit limit" is already exceeded, no bidding is possible
            - code: CREDIT_LIMIT_TO_BE_EXCEECED
              description: if submitting and winning this bid, the Participants "credit limit" would be exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          description: |-
            __Unprocessable Entity__

            *  `INVALID_BID_ID`
                - bid to be updated is invalid, either:
                - non-existing in the system
                - not part of the given Auction
                - does not belong to the given Participant
            *  `INVALID_BID_CAPACITY`
                - capacity for day ahead or intra-day bid
                - must be greater than or equal to zero
                - must be a multiply of the Auction's allocation resolution
            *  `INVALID_BID_PRICE`
                - must be greater than or equal to the configured "minimum bid price" for the Auction
                - price value for a given MTU must be unique across all bid groups for the given Auction
            *  `TOO_MANY_BIDS`
                - you cannot enter more bids than the configured "maximum bid count per participants" for the Aucion for the Auction's border direction
            *  `MTU_LIST_MISALIGNED`
                - in the `bids` arra
                - one or more MTU start times are not aligned to MTU borders (considering MTU size)
                - the number of MTUs defined does not match the required number (pay special attention to daylight saving changes!)
          x-errors:
            - code: INVALID_BID_ID
              description: |
                - bid to be updated is invalid, either:
                - non-existing in the system
                - not part of the given Auction
                - does not belong to the given Participant
            - code: INVALID_BID_CAPACITY
              description: |
                - capacity for day ahead or intra-day bid
                - must be greater than or equal to zero
                - must be a multiply of the Auction's allocation resolution
            - code: INVALID_BID_PRICE
              description: |
                - must be greater than or equal to the configured "minimum bid price" for the Auction
                - price value for a given MTU must be unique across all bid groups for the given Auction
            - code: TOO_MANY_BIDS
              description: |
                - you cannot enter more bids than the configured "maximum bid count per participants" for the Aucion for the Auction's border direction
            - code: MTU_LIST_MISALIGNED
              description: |
                - in the `bids` arra
                - one or more MTU start times are not aligned to MTU borders (considering MTU size)
                - the number of MTUs defined does not match the required number (pay special attention to daylight saving changes!)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/auctions/long-term/{id}/results:
    get:
      operationId: getLongTermAuctionResults
      description: |-
        Fetch results for a Long Term Auction by its identifier

        ---

        __Requires Permission:__ (at least one)
          * `VIEW_PUBLISHED_AUCTIONS`
          * `VIEW_ANY_AUCTIONS`
      tags:
        - auction
      security:
        - ApiKey: []
        - AuthToken: []
      x-permissions:
        - VIEW_PUBLISHED_AUCTIONS
        - VIEW_ANY_AUCTIONS
      parameters:
        - $ref: '#/components/parameters/Identifier'
      responses:
        '200':
          description: __OK__
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LongTermAuctionResults'
        '400':
          description: |-
            __Bad Request__

            *  `TIMESCALE_MISMATCH` - endpoint matching Auction timescale need to be used
            *  `STATUS_MISMATCH` - Auctions in`CREATED`, `DELETED` or `CANCELLED` statuses do not have any result
          x-errors:
            - code: TIMESCALE_MISMATCH
              description: endpoint matching Auction timescale need to be used
            - code: STATUS_MISMATCH
              description: Auctions in`CREATED`, `DELETED` or `CANCELLED` statuses do not have any result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/AuctionResultsNotAvailable'
  /v1/auctions/day-ahead-or-intra-day/{id}/results:
    get:
      operationId: getDayAheadOrIntraDayAuctionResults
      description: |-
        Fetch results for a Day Ahead or an Intra Day Auction by its identifier

        ---

        __Requires Permission:__ (at least one)
          * `VIEW_PUBLISHED_AUCTIONS`
          * `VIEW_ANY_AUCTIONS`
      tags:
        - auction
      security:
        - ApiKey: []
        - AuthToken: []
      x-permissions:
        - VIEW_PUBLISHED_AUCTIONS
        - VIEW_ANY_AUCTIONS
      parameters:
        - $ref: '#/components/parameters/Identifier'
      responses:
        '200':
          description: __OK__
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DayAheadOrIntraDayAuctionResults'
        '400':
          description: |-
            __Bad Request__

            *  `TIMESCALE_MISMATCH` - endpoint matching Auction timescale need to be used
            *  `STATUS_MISMATCH` - Auctions in `CREATED`, `DELETED` or `CANCELLED` statuses do not have any result
          x-errors:
            - code: TIMESCALE_MISMATCH
              description: endpoint matching Auction timescale need to be used
            - code: STATUS_MISMATCH
              description: Auctions in `CREATED`, `DELETED` or `CANCELLED` statuses do not have any result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/AuctionResultsNotAvailable'
  /v1/auctions/day-ahead-or-intra-day/{id}/results/participants/{participantId}:
    get:
      operationId: getDayAheadOrIntraDayAuctionParticipantResults
      description: |-
        Fetch results for a given Participant in a Day Ahead or an Intra Day Auction by its identifier

        ---

        __Requires Permission:__ (at least one)
          * `VIEW_PUBLISHED_AUCTIONS`
          * `VIEW_ANY_AUCTIONS`
      tags:
        - auction
      security:
        - ApiKey: []
        - AuthToken: []
      x-permissions:
        - VIEW_PUBLISHED_AUCTIONS
        - VIEW_ANY_AUCTIONS
      parameters:
        - $ref: '#/components/parameters/Identifier'
        - in: path
          name: participantId
          required: true
          schema:
            $ref: '#/components/schemas/Identifier'
      responses:
        '200':
          description: __OK__
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DayAheadOrIntraDayAuctionParticipantResults'
        '400':
          description: |-
            __Bad Request__

            *  `TIMESCALE_MISMATCH` - endpoint matching Auction timescale need to be used
            *  `STATUS_MISMATCH` - Auctions in `CREATED`, `DELETED` or `CANCELLED` statuses do not have any result
            *  `INVALID_PARTICIPANT_ID` - specified Participant not found in the system
          x-errors:
            - code: TIMESCALE_MISMATCH
              description: endpoint matching Auction timescale need to be used
            - code: STATUS_MISMATCH
              description: Auctions in `CREATED`, `DELETED` or `CANCELLED` statuses do not have any result
            - code: INVALID_PARTICIPANT_ID
              description: specified Participant not found in the system
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/AuctionResultsNotAvailable'
  /v1/auctions/day-ahead-or-intra-day/{id}/results/mtus:
    get:
      operationId: getDayAheadOrIntraDayAuctionMtuResults
      description: |-
        Fetch results for a given MTU in a Day Ahead or an Intra Day Auction by its identifier

        ---

        __Requires Permission:__ (at least one)
          * `VIEW_PUBLISHED_AUCTIONS`
          * `VIEW_ANY_AUCTIONS`
      tags:
        - auction
      security:
        - ApiKey: []
        - AuthToken: []
      x-permissions:
        - VIEW_PUBLISHED_AUCTIONS
        - VIEW_ANY_AUCTIONS
      parameters:
        - $ref: '#/components/parameters/Identifier'
        - in: query
          name: mtu
          required: true
          schema:
            $ref: '#/components/schemas/MtuStart'
      responses:
        '200':
          description: __OK__
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DayAheadOrIntraDayAuctionMtuResults'
        '400':
          description: |-
            __Bad Request__

            *  `TIMESCALE_MISMATCH` - endpoint matching Auction timescale need to be used
            *  `STATUS_MISMATCH` - Auctions in `CREATED`, `DELETED` or `CANCELLED` statuses do not have any result
            *  `INVALID_MTU` - specified MTU is not part of the Auction
          x-errors:
            - code: TIMESCALE_MISMATCH
              description: endpoint matching Auction timescale need to be used
            - code: STATUS_MISMATCH
              description: Auctions in `CREATED`, `DELETED` or `CANCELLED` statuses do not have any result
            - code: INVALID_MTU
              description: specified MTU is not part of the Auction
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/AuctionResultsNotAvailable'
  /v1/auctions/long-term/{id}/results/bidding:
    get:
      operationId: getLongTermAuctionBiddingResults
      description: |-
        Fetch Bidding Results for a Long Term Auction by its identifier

        ---

        __Requires Permission:__ (at least one)
          * `VIEW_PUBLISHED_AUCTIONS`
          * `VIEW_ANY_AUCTIONS`
      tags:
        - auction
      security:
        - ApiKey: []
        - AuthToken: []
      x-permissions:
        - VIEW_PUBLISHED_AUCTIONS
        - VIEW_ANY_AUCTIONS
      parameters:
        - $ref: '#/components/parameters/Identifier'
        - $ref: '#/components/parameters/PageLimit'
        - $ref: '#/components/parameters/PageOffset'
        - name: sortBy
          in: query
          required: true
          description: Sort list by given attribute and direction
          schema:
            $ref: '#/components/schemas/LongTermAuctionBidSortBy'
        - $ref: '#/components/parameters/ParticipantIdOptional'
      responses:
        '200':
          description: __OK__
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LongTermAuctionBidResultBatch'
        '400':
          description: |-
            __Bad Request__

            *  `TIMESCALE_MISMATCH` - endpoint matching Auction timescale need to be used
            *  `INVALID_PARTICIPANT_ID` - specified Participant not found in the system
          x-errors:
            - code: TIMESCALE_MISMATCH
              description: endpoint matching Auction timescale need to be used
            - code: INVALID_PARTICIPANT_ID
              description: specified Participant not found in the system
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/auctions/day-ahead-or-intra-day/{id}/results/bidding:
    get:
      operationId: getDayAheadOrIntraDayAuctionBiddingResults
      description: |-
        Fetch Bidding Results for a Day Ahead or an Intra Day Auction by its identifier

        ---

        __Requires Permission:__ (at least one)
          * `VIEW_PUBLISHED_AUCTIONS`
          * `VIEW_ANY_AUCTIONS`
      tags:
        - auction
      security:
        - ApiKey: []
        - AuthToken: []
      x-permissions:
        - VIEW_PUBLISHED_AUCTIONS
        - VIEW_ANY_AUCTIONS
      parameters:
        - $ref: '#/components/parameters/Identifier'
        - $ref: '#/components/parameters/PageLimit'
        - $ref: '#/components/parameters/PageOffset'
        - $ref: '#/components/parameters/ParticipantIdOptional'
      responses:
        '200':
          description: __OK__
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DayAheadOrIntraDayAuctionBidGroupResultBatch'
        '400':
          description: |-
            __Bad Request__

            *  `TIMESCALE_MISMATCH` - endpoint matching Auction timescale need to be used
            *  `INVALID_PARTICIPANT_ID` - specified Participant not found in the system
          x-errors:
            - code: TIMESCALE_MISMATCH
              description: endpoint matching Auction timescale need to be used
            - code: INVALID_PARTICIPANT_ID
              description: specified Participant not found in the system
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/audit-logs:
    get:
      operationId: getAuditLogs
      description: |-
        Fetch a list of Audit Logs optionally filtered for an Organisation

        ---

        __Requires Permission:__ (at least one)
          * `VIEW_OWN_AUDIT_LOGS`
          * `VIEW_ANY_AUDIT_LOGS`
      tags:
        - audit-log
      security:
        - ApiKey: []
        - AuthToken: []
      x-permissions:
        - VIEW_OWN_AUDIT_LOGS
        - VIEW_ANY_AUDIT_LOGS
      parameters:
        - $ref: '#/components/parameters/PageLimit'
        - $ref: '#/components/parameters/PageOffset'
        - name: sortBy
          in: query
          required: true
          schema:
            $ref: '#/components/schemas/AuditLogSortBy'
        - name: domains
          in: query
          schema:
            type: array
            items:
              $ref: '#/components/schemas/AuditLogDomain'
        - $ref: '#/components/parameters/OrganisationIdOptional'
        - name: createdAtFrom
          in: query
          schema:
            $ref: '#/components/schemas/DateTime'
        - name: createdAtTo
          in: query
          schema:
            $ref: '#/components/schemas/DateTime'
        - name: query
          in: query
          schema:
            type: string
      responses:
        '200':
          description: __OK__
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuditLogBatch'
        '400':
          description: |-
            __Bad Request__

            *  `INVALID_ORGANISATION_ID` - specified Organisation not found in the system
          x-errors:
            - code: INVALID_ORGANISATION_ID
              description: specified Organisation not found in the system
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          description: |-
            __Unprocessable Entity__

            *  `PERIOD_MISALIGNED` - if both specified `createdAtFrom` and `createdAtTo` parameters must come after each other
          x-errors:
            - code: PERIOD_MISALIGNED
              description: if both specified `createdAtFrom` and `createdAtTo` parameters must come after each other
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/audit-logs/{id}/payload:
    get:
      operationId: getAuditLogPayload
      description: |-
        Fetch payload for an existing Audit Log entry by its identifier

        ---

        __Requires Permission:__ (at least one)
          * `VIEW_OWN_AUDIT_LOGS`
          * `VIEW_ANY_AUDIT_LOGS`
      tags:
        - audit-log
      security:
        - ApiKey: []
        - AuthToken: []
      x-permissions:
        - VIEW_OWN_AUDIT_LOGS
        - VIEW_ANY_AUDIT_LOGS
      parameters:
        - $ref: '#/components/parameters/Identifier'
      responses:
        '200':
          description: __OK__
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuditLogPayload'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/bidding-configuration:
    get:
      operationId: getBiddingConfiguration
      description: |-
        Fetch Bidding Configuration for a given Participant

        ---

        __Requires Permission:__ (at least one)
          * `VIEW_OWN_BIDDING_CONFIGURATION`
          * `VIEW_ANY_BIDDING_CONFIGURATION`
      tags:
        - bidding-configuration
      security:
        - ApiKey: []
        - AuthToken: []
      x-permissions:
        - VIEW_OWN_BIDDING_CONFIGURATION
        - VIEW_ANY_BIDDING_CONFIGURATION
      parameters:
        - $ref: '#/components/parameters/ParticipantId'
      responses:
        '200':
          description: __OK__
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BiddingConfiguration'
        '400':
          description: |-
            __Bad Request__

            *  `INVALID_PARTICIPANT_ID` - specified Participant not found in the system
          x-errors:
            - code: INVALID_PARTICIPANT_ID
              description: specified Participant not found in the system
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    put:
      operationId: updateBiddingConfiguration
      description: |-
        Updat Bidding Configuration for a given Participant

        ---

        __Requires Permission:__ (at least one)
          * `MANAGE_OWN_BIDDING_CONFIGURATION`
          * `MANAGE_ANY_BIDDING_CONFIGURATION`

        __Generates Audit Log Entry:__ `UPDATE_BIDDING_CONFIGURATION`
      tags:
        - bidding-configuration
      security:
        - ApiKey: []
        - AuthToken: []
      x-permissions:
        - MANAGE_OWN_BIDDING_CONFIGURATION
        - MANAGE_ANY_BIDDING_CONFIGURATION
      x-audit-log: UPDATE_BIDDING_CONFIGURATION
      parameters:
        - $ref: '#/components/parameters/ParticipantId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BiddingConfiguration'
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '400':
          description: |-
            __Bad Request__

            *  `INVALID_PARTICIPANT_ID` - specified Participant not found in the system
            *  `MISSING_DIRECTIONAL_CONFIG` - always both directions need to be updated
          x-errors:
            - code: INVALID_PARTICIPANT_ID
              description: specified Participant not found in the system
            - code: MISSING_DIRECTIONAL_CONFIG
              description: always both directions need to be updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v1/buy-now-offers:
    get:
      operationId: getBuyNowOffers
      description: |-
        Fetch a filterable, sortable list of Buy Now Offers

        ---

        __Requires Permission:__ (at least one)
          * `VIEW_ANY_BUY_NOW_OFFERS`
          * `VIEW_OWN_BUY_NOW_OFFERS`
      tags:
        - buy-now-offers
      security:
        - ApiKey: []
        - AuthToken: []
      x-permissions:
        - VIEW_ANY_BUY_NOW_OFFERS
        - VIEW_OWN_BUY_NOW_OFFERS
      parameters:
        - in: query
          name: deliveryDay
          required: true
          schema:
            $ref: '#/components/schemas/Date'
        - $ref: '#/components/parameters/Timescale'
        - $ref: '#/components/parameters/BorderDirection'
        - in: query
          name: statuses
          required: true
          schema:
            type: array
            items:
              $ref: '#/components/schemas/BuyNowOfferStatus'
        - name: sortBy
          in: query
          required: true
          schema:
            $ref: '#/components/schemas/BuyNowDayAheadOfferSortBy'
        - $ref: '#/components/parameters/ProductTypeIntraDayOptional'
      responses:
        '200':
          description: __OK__
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BuyNowOffer'
        '400':
          description: |-
            __Bad Request__

            *  `TIMESCALE_MISMATCH` - DA/ID Timescale need to be used
          x-errors:
            - code: TIMESCALE_MISMATCH
              description: DA/ID Timescale need to be used
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          description: |-
            __Conflict__

            *  `NO_OFFERS_PRESENT`
                based on timing logic handle "nothing can be displayed" cases
                  - Between 21:45 - 05:45 - MTU 1 - 7 can be displayed  (ID1) + delivery day selector disabled
                  - Between 05:45 - 06:21 - nothing can be displayed
                  - Between 06:21 - 09:45 - MTU 8 - 11 can be displayed (ID2) + delivery day selector disabled
                  - Between 09:45 - 10:21 - nothing can be displayed
                  - Between 10:21 - 13:45 - MTU 12 - 15 can be displayed (ID3) + delivery day selector disabled
                  - Between 13:45 - 14:21 - nothing can be displayed
                  - Between 14:21 - 20:01 - MTU 16 - 24 can be displayed (ID4) + delivery day selector disabled
                  - Between 20:01 - 21:45 - delivery day selector enabled with current day + tomorrow day
                    * Current delivery day MTU 16 - 24 can be displayed (ID4)
                    * Tomorrow delivery day MTU 1 - 7 can be displayed  (ID1)
          x-errors:
            - code: NO_OFFERS_PRESENT
              description: |
                based on timing logic handle "nothing can be displayed" cases
                  - Between 21:45 - 05:45 - MTU 1 - 7 can be displayed  (ID1) + delivery day selector disabled
                  - Between 05:45 - 06:21 - nothing can be displayed
                  - Between 06:21 - 09:45 - MTU 8 - 11 can be displayed (ID2) + delivery day selector disabled
                  - Between 09:45 - 10:21 - nothing can be displayed
                  - Between 10:21 - 13:45 - MTU 12 - 15 can be displayed (ID3) + delivery day selector disabled
                  - Between 13:45 - 14:21 - nothing can be displayed
                  - Between 14:21 - 20:01 - MTU 16 - 24 can be displayed (ID4) + delivery day selector disabled
                  - Between 20:01 - 21:45 - delivery day selector enabled with current day + tomorrow day
                    * Current delivery day MTU 16 - 24 can be displayed (ID4)
                    * Tomorrow delivery day MTU 1 - 7 can be displayed  (ID1)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/buy-now-offers/{id}/purchase:
    put:
      operationId: purchaseBuyNowOffer
      description: |-
        Purchase an existing Buy Now Offer by its identifier

        ---

        __Requires Permission:__ (at least one)
          * `PURCHASE_BUY_NOW_OFFERS`

        __Generates Audit Log Entry:__ `PURCHASE_BUY_NOW_OFFER`
      tags:
        - buy-now-offers
      security:
        - ApiKey: []
        - AuthToken: []
      x-permissions:
        - PURCHASE_BUY_NOW_OFFERS
      x-audit-log: PURCHASE_BUY_NOW_OFFER
      parameters:
        - $ref: '#/components/parameters/Identifier'
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '400':
          description: |-
            __Bad Request__

            *  `STATUS_MISMATCH` - only `ACTIVE` offers can be purchased
            *  `VALIDITY_PERIOD_MISMATCH` - offers can only be purchased in their validity period
          x-errors:
            - code: STATUS_MISMATCH
              description: only `ACTIVE` offers can be purchased
            - code: VALIDITY_PERIOD_MISMATCH
              description: offers can only be purchased in their validity period
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/default-bids/options:
    get:
      operationId: getDefaultBidOptions
      description: |-
        Fetch options for creating and all kinds of Default Bids

        Returns allocation MTU size configuration for Auction Product Types

        ---

        __Requires Permission:__ (at least one)
          * `VIEW_OWN_DEFAULT_BIDS`
          * `MANAGE_OWN_DEFAULT_BIDS`
          * `VIEW_ANY_DEFAULT_BIDS`
          * `MANAGE_ANY_DEFAULT_BIDS`
      tags:
        - default-bid
      security:
        - ApiKey: []
        - AuthToken: []
      x-permissions:
        - VIEW_OWN_DEFAULT_BIDS
        - MANAGE_OWN_DEFAULT_BIDS
        - VIEW_ANY_DEFAULT_BIDS
        - MANAGE_ANY_DEFAULT_BIDS
      responses:
        '200':
          description: __OK__
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultBidOptions'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v1/default-bids:
    get:
      operationId: getDefaultBids
      description: |-
        Fetch Default Bids for a given Participant

        ---

        __Requires Permission:__ (at least one)
          * `VIEW_OWN_DEFAULT_BIDS`
          * `VIEW_ANY_DEFAULT_BIDS`
      tags:
        - default-bid
      security:
        - ApiKey: []
        - AuthToken: []
      x-permissions:
        - VIEW_OWN_DEFAULT_BIDS
        - VIEW_ANY_DEFAULT_BIDS
      parameters:
        - $ref: '#/components/parameters/PageLimit'
        - $ref: '#/components/parameters/PageOffset'
        - name: sortBy
          in: query
          required: true
          description: Sort list by given attribute and direction
          schema:
            $ref: '#/components/schemas/DefaultBidSortBy'
        - $ref: '#/components/parameters/ParticipantId'
        - $ref: '#/components/parameters/ProductTypes'
        - $ref: '#/components/parameters/BorderDirectionWithBoth'
        - name: deliveryPeriodStart
          in: query
          required: true
          description: Filter for start of delivery period (aligned to MTUs)
          schema:
            $ref: '#/components/schemas/MtuStart'
        - name: deliveryPeriodEnd
          in: query
          required: true
          description: Filter for end of delivery period (aligned to MTUs)
          schema:
            $ref: '#/components/schemas/MtuEnd'
        - name: validityPeriodStart
          in: query
          description: Filter for start of validity period (optional)
          schema:
            $ref: '#/components/schemas/DateTime'
        - name: validityPeriodEnd
          in: query
          description: Filter for end of validity period (optional)
          schema:
            $ref: '#/components/schemas/DateTime'
      responses:
        '200':
          description: __OK__
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultBidBatch'
        '400':
          description: |-
            __Bad Request__

            *  `INVALID_PARTICIPANT_ID` - the specified Participant not found in the system
            *  `PERIOD_MISALIGNED`
                - if period start and end parameters are both set, they need to come after each other
                - both for delivery and validity period
          x-errors:
            - code: INVALID_PARTICIPANT_ID
              description: the specified Participant not found in the system
            - code: PERIOD_MISALIGNED
              description: |
                - if period start and end parameters are both set, they need to come after each other
                - both for delivery and validity period
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v1/default-bids/long-term:
    post:
      operationId: createLongTermDefaultBid
      description: |-
        Create new Default Bid for Long Term product types

        ---

        __Requires Permission:__ (at least one)
          * `MANAGE_OWN_DEFAULT_BIDS`
          * `MANAGE_ANY_DEFAULT_BIDS`

        __Generates Audit Log Entry:__ `CREATE_LONG_TERM_DEFAULT_BID`
      tags:
        - default-bid
      security:
        - ApiKey: []
        - AuthToken: []
      x-permissions:
        - MANAGE_OWN_DEFAULT_BIDS
        - MANAGE_ANY_DEFAULT_BIDS
      x-audit-log: CREATE_LONG_TERM_DEFAULT_BID
      parameters:
        - $ref: '#/components/parameters/ParticipantId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateLongTermDefaultBidRequest'
      responses:
        '201':
          description: __Created__
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatedDefaultBid'
        '400':
          description: |-
            __Bad Request__

            *  `PRODUCT_TYPE_MISMATCH` - only LT product types are accepted
          x-errors:
            - code: PRODUCT_TYPE_MISMATCH
              description: only LT product types are accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          description: |-
            __Unprocessable Entity__

            *  `INVALID_BID_CAPACITY`
                - must be greater than 0
            *  `INVALID_BID_PRICE`
                - must be greater or equal than 0
            *  `PERIOD_MISALIGNED`
                - if period start and end parameters are both set, they need to come after each other
                - both for delivery and validity period
          x-errors:
            - code: INVALID_BID_CAPACITY
              description: |
                - must be greater than 0
            - code: INVALID_BID_PRICE
              description: |
                - must be greater or equal than 0
            - code: PERIOD_MISALIGNED
              description: |
                - if period start and end parameters are both set, they need to come after each other
                - both for delivery and validity period
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/default-bids/day-ahead-or-intra-day:
    post:
      operationId: createDayAheadOrIntraDayDefaultBid
      description: |-
        Create new Default Bid for Day Ahead or Intra Day product types

        ---

        __Requires Permission:__ (at least one)
          * `MANAGE_OWN_DEFAULT_BIDS`
          * `MANAGE_ANY_DEFAULT_BIDS`

        __Generates Audit Log Entry:__ `CREATE_DAY_AHEAD_OR_INTRA_DAY_DEFAULT_BID`
      tags:
        - default-bid
      security:
        - ApiKey: []
        - AuthToken: []
      x-permissions:
        - MANAGE_OWN_DEFAULT_BIDS
        - MANAGE_ANY_DEFAULT_BIDS
      x-audit-log: CREATE_DAY_AHEAD_OR_INTRA_DAY_DEFAULT_BID
      parameters:
        - $ref: '#/components/parameters/ParticipantId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDayAheadOrIntraDayDefaultBidRequest'
      responses:
        '201':
          description: __Created__
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatedDefaultBid'
        '400':
          description: |-
            __Bad Request__

            *  `PRODUCT_TYPE_MISMATCH` - only DA/ID product types are accepted
          x-errors:
            - code: PRODUCT_TYPE_MISMATCH
              description: only DA/ID product types are accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          description: |-
            __Unprocessable Entity__

            *  `INVALID_BID_CAPACITY`
                - must be greater than 0
            *  `INVALID_BID_PRICE`
                - must be greater or equal than 0
            *  `PERIOD_MISALIGNED`
                - if period start and end parameters are both set, they need to come after each other
                - both for delivery and validity period
            *  `MTU_LIST_MISALIGNED`
                - one or more MTU start times are not aligned to MTU borders (considering MTU size for the given timescale)
                - the number of MTUs defined does not match the required number
          x-errors:
            - code: INVALID_BID_CAPACITY
              description: |
                - must be greater than 0
            - code: INVALID_BID_PRICE
              description: |
                - must be greater or equal than 0
            - code: PERIOD_MISALIGNED
              description: |
                - if period start and end parameters are both set, they need to come after each other
                - both for delivery and validity period
            - code: MTU_LIST_MISALIGNED
              description: |
                - one or more MTU start times are not aligned to MTU borders (considering MTU size for the given timescale)
                - the number of MTUs defined does not match the required number
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/default-bids/long-term/{id}:
    get:
      operationId: getLongTermDefaultBid
      description: |-
        Fetch a Long Term Default Bid by its identifier

        ---

        __Requires Permission:__ (at least one)
          * `VIEW_OWN_DEFAULT_BIDS`
          * `VIEW_ANY_DEFAULT_BIDS`
      tags:
        - default-bid
      security:
        - ApiKey: []
        - AuthToken: []
      x-permissions:
        - VIEW_OWN_DEFAULT_BIDS
        - VIEW_ANY_DEFAULT_BIDS
      parameters:
        - $ref: '#/components/parameters/Identifier'
      responses:
        '200':
          description: __OK__
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LongTermDefaultBid'
        '400':
          description: |-
            __Bad Request__

            *  `TIMESCALE_MISMATCH` - endpoint matching timescale need to be used
          x-errors:
            - code: TIMESCALE_MISMATCH
              description: endpoint matching timescale need to be used
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      operationId: updateLongTermDefaultBid
      description: |-
        Updat a Long Term Default Bid by its identifier

        Re-creates any existing default bid values

        ---

        __Requires Permission:__ (at least one)
          * `MANAGE_OWN_DEFAULT_BIDS`
          * `MANAGE_ANY_DEFAULT_BIDS`

        __Generates Audit Log Entry:__ `UPDATE_LONG_TERM_DEFAULT_BID`
      tags:
        - default-bid
      security:
        - ApiKey: []
        - AuthToken: []
      x-permissions:
        - MANAGE_OWN_DEFAULT_BIDS
        - MANAGE_ANY_DEFAULT_BIDS
      x-audit-log: UPDATE_LONG_TERM_DEFAULT_BID
      parameters:
        - $ref: '#/components/parameters/Identifier'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateLongTermDefaultBidRequest'
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '400':
          description: |-
            __Bad Request__

            *  `TIMESCALE_MISMATCH` - endpoint matching timescale need to be used
            *  `STATUS_MISMATCH` - only Active entries can be updated
          x-errors:
            - code: TIMESCALE_MISMATCH
              description: endpoint matching timescale need to be used
            - code: STATUS_MISMATCH
              description: only Active entries can be updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          description: |-
            __Unprocessable Entity__

            *  `INVALID_BID_CAPACITY`
                - must be greater than 0
            *  `INVALID_BID_PRICE`
                - must be greater or equal than 0
            *  `PERIOD_MISALIGNED`
                - if period start and end parameters are both set, they need to come after each other
                - both for delivery and validity period
          x-errors:
            - code: INVALID_BID_CAPACITY
              description: |
                - must be greater than 0
            - code: INVALID_BID_PRICE
              description: |
                - must be greater or equal than 0
            - code: PERIOD_MISALIGNED
              description: |
                - if period start and end parameters are both set, they need to come after each other
                - both for delivery and validity period
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/default-bids/day-ahead-or-intra-day/{id}:
    get:
      operationId: getDayAheadOrIntraDayDefaultBid
      description: |-
        Fetch a Day Ahead or Intra Day Default Bid by its identifier

        ---

        __Requires Permission:__ (at least one)
          * `VIEW_OWN_DEFAULT_BIDS`
          * `VIEW_ANY_DEFAULT_BIDS`
      tags:
        - default-bid
      security:
        - ApiKey: []
        - AuthToken: []
      x-permissions:
        - VIEW_OWN_DEFAULT_BIDS
        - VIEW_ANY_DEFAULT_BIDS
      parameters:
        - $ref: '#/components/parameters/Identifier'
      responses:
        '200':
          description: __OK__
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DayAheadOrIntraDayDefaultBid'
        '400':
          description: |-
            __Bad Request__

            *  `TIMESCALE_MISMATCH` - endpoint matching timescale need to be used
          x-errors:
            - code: TIMESCALE_MISMATCH
              description: endpoint matching timescale need to be used
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      operationId: updateDayAheadOrIntraDayDefaultBid
      description: |-
        Update a Day Ahead or Intra Day Default Bid by its identifier

        Re-creates any existing default bid values

        ---

        __Requires Permission:__ (at least one)
          * `MANAGE_OWN_DEFAULT_BIDS`
          * `MANAGE_ANY_DEFAULT_BIDS`

        __Generates Audit Log Entry:__ `UPDATE_DAY_AHEAD_OR_INTRA_DAY_DEFAULT_BID`
      tags:
        - default-bid
      security:
        - ApiKey: []
        - AuthToken: []
      x-permissions:
        - MANAGE_OWN_DEFAULT_BIDS
        - MANAGE_ANY_DEFAULT_BIDS
      x-audit-log: UPDATE_DAY_AHEAD_OR_INTRA_DAY_DEFAULT_BID
      parameters:
        - $ref: '#/components/parameters/Identifier'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateDayAheadOrIntraDayDefaultBidRequest'
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '400':
          description: |-
            __Bad Request__

            *  `TIMESCALE_MISMATCH` - endpoint matching timescale need to be used
            *  `STATUS_MISMATCH` - only Active entries can be updated
          x-errors:
            - code: TIMESCALE_MISMATCH
              description: endpoint matching timescale need to be used
            - code: STATUS_MISMATCH
              description: only Active entries can be updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          description: |-
            __Unprocessable Entity__

            *  `INVALID_BID_CAPACITY`
                - must be greater than 0
            *  `INVALID_BID_PRICE`
                - must be greater or equal than 0
            *  `PERIOD_MISALIGNED`
                - if period start and end parameters are both set, they need to come after each other
                - both for delivery and validity period
            *  `MTU_LIST_MISALIGNED`
                - one or more MTU start times are not aligned to MTU borders (considering the stored MTU size for the Default Bid entity)
                - the number of MTUs defined does not match the required number
          x-errors:
            - code: INVALID_BID_CAPACITY
              description: |
                - must be greater than 0
            - code: INVALID_BID_PRICE
              description: |
                - must be greater or equal than 0
            - code: PERIOD_MISALIGNED
              description: |
                - if period start and end parameters are both set, they need to come after each other
                - both for delivery and validity period
            - code: MTU_LIST_MISALIGNED
              description: |
                - one or more MTU start times are not aligned to MTU borders (considering the stored MTU size for the Default Bid entity)
                - the number of MTUs defined does not match the required number
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/default-bids/{id}:
    delete:
      operationId: deleteDefaultBid
      description: |-
        Delete an existing Default Bid

        ---

        __Requires Permission:__ (at least one)
          * `MANAGE_OWN_DEFAULT_BIDS`
          * `MANAGE_ANY_DEFAULT_BIDS`

        __Generates Audit Log Entry:__ `DELETE_DEFAULT_BID`
      tags:
        - default-bid
      security:
        - ApiKey: []
        - AuthToken: []
      x-permissions:
        - MANAGE_OWN_DEFAULT_BIDS
        - MANAGE_ANY_DEFAULT_BIDS
      x-audit-log: DELETE_DEFAULT_BID
      parameters:
        - $ref: '#/components/parameters/Identifier'
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '400':
          description: |-
            __Bad Request__

            *  `STATUS_MISMATCH` - only `ACTIVE` (not already deleted) Default Bids can be deleted
          x-errors:
            - code: STATUS_MISMATCH
              description: only `ACTIVE` (not already deleted) Default Bids can be deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/default-nominations/options:
    get:
      operationId: getDefaultNominationOptions
      description: |-
        Fetch options for creating and updating Default Nominations

        Returns current nomination MTU size configuraiton for all timescales

        ---

        __Requires Permission:__ (at least one)
          * `VIEW_OWN_DEFAULT_NOMINATIONS`
          * `VIEW_ANY_DEFAULT_NOMINATIONS`
      tags:
        - default-nomination
      security:
        - ApiKey: []
        - AuthToken: []
      x-permissions:
        - VIEW_OWN_DEFAULT_NOMINATIONS
        - VIEW_ANY_DEFAULT_NOMINATIONS
      responses:
        '200':
          description: __OK__
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultNominationOptions'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v1/default-nominations:
    get:
      operationId: getDefaultNominations
      description: |-
        Fetch Default Nominations for a given Participant

        ---

        __Requires Permission:__ (at least one)
          * `VIEW_OWN_DEFAULT_NOMINATIONS`
          * `VIEW_ANY_DEFAULT_NOMINATIONS`
      tags:
        - default-nomination
      security:
        - ApiKey: []
        - AuthToken: []
      x-permissions:
        - VIEW_OWN_DEFAULT_NOMINATIONS
        - VIEW_ANY_DEFAULT_NOMINATIONS
      parameters:
        - $ref: '#/components/parameters/PageLimit'
        - $ref: '#/components/parameters/PageOffset'
        - name: sortBy
          in: query
          required: true
          description: Sort list by given attribute and direction
          schema:
            $ref: '#/components/schemas/DefaultNominationSortBy'
        - $ref: '#/components/parameters/ParticipantId'
        - $ref: '#/components/parameters/Timescales'
        - $ref: '#/components/parameters/BorderDirectionWithBoth'
        - name: deliveryPeriodStart
          in: query
          required: true
          description: Filter for start of delivery period (date)
          schema:
            $ref: '#/components/schemas/Date'
        - name: deliveryPeriodEnd
          in: query
          required: true
          description: Filter for end of delivery period (date)
          schema:
            $ref: '#/components/schemas/Date'
      responses:
        '200':
          description: __OK__
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultNominationBatch'
        '400':
          description: |-
            __Bad Request__

            *  `INVALID_PARTICIPANT_ID` - specified Participant not found in the system
            *  `PERIOD_MISALIGNED` - delivery period start and end parameters need to come after each other
          x-errors:
            - code: INVALID_PARTICIPANT_ID
              description: specified Participant not found in the system
            - code: PERIOD_MISALIGNED
              description: delivery period start and end parameters need to come after each other
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      operationId: createDefaultNomination
      description: |-
        Create new Default Nomination for a given Timescale

        ---

        __Requires Permission:__ (at least one)
          * `MANAGE_OWN_DEFAULT_NOMINATIONS`
          * `MANAGE_ANY_DEFAULT_NOMINATIONS`

        __Generates Audit Log Entry:__ `CREATE_DEFAULT_NOMINATION`
      tags:
        - default-nomination
      security:
        - ApiKey: []
        - AuthToken: []
      x-permissions:
        - MANAGE_OWN_DEFAULT_NOMINATIONS
        - MANAGE_ANY_DEFAULT_NOMINATIONS
      x-audit-log: CREATE_DEFAULT_NOMINATION
      parameters:
        - $ref: '#/components/parameters/ParticipantId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDefaultNominationRequest'
      responses:
        '201':
          description: __Created__
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatedDefaultNomination'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          description: |-
            __Unprocessable Entity__

            *  `PERIOD_MISALIGNED` - for delivery period start and end values need to come after each other
            *  `MTU_LIST_MISALIGNED`
                - one or more MTU start times are not aligned to MTU borders (considering MTU size for the given timescale)
                - the number of MTUs defined does not match the required number
            *  `PERIOD_OVERLAP`
                - delivery period overlaps with a delivery period of an existing Default Nomination on the given timescale
            *  `INVALID_NOMINATION_VALUE`
                - if the type is set to VALUE a greater than or equal to zero value need to be supplied
          x-errors:
            - code: PERIOD_MISALIGNED
              description: for delivery period start and end values need to come after each other
            - code: MTU_LIST_MISALIGNED
              description: |
                - one or more MTU start times are not aligned to MTU borders (considering MTU size for the given timescale)
                - the number of MTUs defined does not match the required number
            - code: PERIOD_OVERLAP
              description: |
                - delivery period overlaps with a delivery period of an existing Default Nomination on the given timescale
            - code: INVALID_NOMINATION_VALUE
              description: |
                - if the type is set to VALUE a greater than or equal to zero value need to be supplied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/default-nominations/{id}:
    get:
      operationId: getDefaultNomination
      description: |-
        Fetch a Default Nomination by its identifier

        ---

        __Requires Permission:__ (at least one)
          * `VIEW_OWN_DEFAULT_NOMINATIONS`
          * `VIEW_ANY_DEFAULT_NOMINATIONS`
      tags:
        - default-nomination
      security:
        - ApiKey: []
        - AuthToken: []
      x-permissions:
        - VIEW_OWN_DEFAULT_NOMINATIONS
        - VIEW_ANY_DEFAULT_NOMINATIONS
      parameters:
        - $ref: '#/components/parameters/Identifier'
      responses:
        '200':
          description: __OK__
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultNominationDetails'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      operationId: updateDefaultNomination
      description: |-
        Update an existing Default Nomination by its identifier

        ---

        __Requires Permission:__ (at least one)
          * `MANAGE_OWN_DEFAULT_NOMINATIONS`
          * `MANAGE_ANY_DEFAULT_NOMINATIONS`

        __Generates Audit Log Entry:__ `UPDATE_DEFAULT_NOMINATION`
      tags:
        - default-nomination
      security:
        - ApiKey: []
        - AuthToken: []
      x-permissions:
        - MANAGE_OWN_DEFAULT_NOMINATIONS
        - MANAGE_ANY_DEFAULT_NOMINATIONS
      x-audit-log: UPDATE_DEFAULT_NOMINATION
      parameters:
        - $ref: '#/components/parameters/Identifier'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateDefaultNominationRequest'
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          description: |-
            __Unprocessable Entity__

            *  `PERIOD_MISALIGNED` - for delivery period start and end values need to come after each other
            *  `MTU_LIST_MISALIGNED`
                - one or more MTU start times are not aligned to MTU borders (considering MTU size for the given timescale)
                - the number of MTUs defined does not match the required number
            *  `PERIOD_OVERLAP`
                - delivery period overlaps with a delivery period of an existing Default Nomination on the given timescale
                - except entity to be currently updated
            *  `INVALID_NOMINATION_VALUE`
                - if the type is set to VALUE a greater than or equal to zero value need to be supplied
          x-errors:
            - code: PERIOD_MISALIGNED
              description: for delivery period start and end values need to come after each other
            - code: MTU_LIST_MISALIGNED
              description: |
                - one or more MTU start times are not aligned to MTU borders (considering MTU size for the given timescale)
                - the number of MTUs defined does not match the required number
            - code: PERIOD_OVERLAP
              description: |
                - delivery period overlaps with a delivery period of an existing Default Nomination on the given timescale
                - except entity to be currently updated
            - code: INVALID_NOMINATION_VALUE
              description: |
                - if the type is set to VALUE a greater than or equal to zero value need to be supplied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      operationId: deleteDefaultNomination
      description: |-
        Delete an existing Default Nomination

        ---

        __Requires Permission:__ (at least one)
          * `MANAGE_OWN_DEFAULT_NOMINATIONS`
          * `MANAGE_ANY_DEFAULT_NOMINATIONS`

        __Generates Audit Log Entry:__ `DELETE_DEFAULT_NOMINATION`
      tags:
        - default-nomination
      security:
        - ApiKey: []
        - AuthToken: []
      x-permissions:
        - MANAGE_OWN_DEFAULT_NOMINATIONS
        - MANAGE_ANY_DEFAULT_NOMINATIONS
      x-audit-log: DELETE_DEFAULT_NOMINATION
      parameters:
        - $ref: '#/components/parameters/Identifier'
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '400':
          description: |-
            __Bad Request__

            *  `STATUS_MISMATCH` - only `ACTIVE` (not already deleted) Default Nominations can be deleted
          x-errors:
            - code: STATUS_MISMATCH
              description: only `ACTIVE` (not already deleted) Default Nominations can be deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/finance-information:
    get:
      operationId: getFinanceInformation
      description: |-
        Fetch current Finance Information for a Participant

        ---

        __Requires Permission:__ (at least one)
          * `VIEW_ANY_ORGANISATIONS`
          * `VIEW_OWN_ORGANISATIONS`
      tags:
        - finance-information
      security:
        - ApiKey: []
        - AuthToken: []
      x-permissions:
        - VIEW_ANY_ORGANISATIONS
        - VIEW_OWN_ORGANISATIONS
      parameters:
        - $ref: '#/components/parameters/ParticipantId'
      responses:
        '200':
          description: __OK__
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FinanceInformation'
        '400':
          description: |-
            __Bad Request__

            *  `INVALID_PARTICIPANT_ID` - specified Participant not found in the system
          x-errors:
            - code: INVALID_PARTICIPANT_ID
              description: specified Participant not found in the system
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v1/finance/settlement/day:
    get:
      operationId: getFinanceSettlementPerDay
      description: |-
        Fetch a filterable list of Settlements per days

        ---

        __Requires Permission:__ (at least one)
          * `VIEW_OWN_SETTLEMENT`
          * `VIEW_ANY_SETTLEMENT`
      tags:
        - finance
      security:
        - ApiKey: []
        - AuthToken: []
      x-permissions:
        - VIEW_OWN_SETTLEMENT
        - VIEW_ANY_SETTLEMENT
      parameters:
        - in: query
          name: periodFrom
          required: true
          schema:
            $ref: '#/components/schemas/Date'
        - in: query
          name: periodTo
          required: true
          schema:
            $ref: '#/components/schemas/Date'
        - $ref: '#/components/parameters/ProductTypes'
        - in: query
          name: sources
          required: true
          schema:
            type: array
            items:
              $ref: '#/components/schemas/SettlementSourceType'
        - $ref: '#/components/parameters/ParticipantIdOptional'
        - $ref: '#/components/parameters/BorderDirectionOptional'
        - $ref: '#/components/parameters/TimescaleOptional'
      responses:
        '200':
          description: __OK__
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Settlement'
        '400':
          description: |-
            __Bad Request__

            *  `INVALID_PARTICIPANT_ID` - partciipant not found in the system
          x-errors:
            - code: INVALID_PARTICIPANT_ID
              description: partciipant not found in the system
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          description: |-
            __Unprocessable Entity__

            *  `PERIOD_MISALIGNED` - periodFrom need to come before periodTo
            *  `PERIOD_TOO_LONG` - can be at most a month
          x-errors:
            - code: PERIOD_MISALIGNED
              description: periodFrom need to come before periodTo
            - code: PERIOD_TOO_LONG
              description: can be at most a month
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/finance/settlement/source:
    get:
      operationId: getFinanceSettlementPerSource
      description: |-
        Fetch a filterable list of Settlements per Source

        ---

        __Requires Permission:__ (at least one)
          * `VIEW_OWN_SETTLEMENT`
          * `VIEW_ANY_SETTLEMENT`
      tags:
        - finance
      security:
        - ApiKey: []
        - AuthToken: []
      x-permissions:
        - VIEW_OWN_SETTLEMENT
        - VIEW_ANY_SETTLEMENT
      parameters:
        - in: query
          name: periodFrom
          required: true
          schema:
            $ref: '#/components/schemas/Date'
        - in: query
          name: periodTo
          required: true
          schema:
            $ref: '#/components/schemas/Date'
        - $ref: '#/components/parameters/ProductTypes'
        - in: query
          name: sources
          required: true
          schema:
            type: array
            items:
              $ref: '#/components/schemas/SettlementSourceType'
        - $ref: '#/components/parameters/ParticipantIdOptional'
        - $ref: '#/components/parameters/BorderDirectionOptional'
        - $ref: '#/components/parameters/TimescaleOptional'
      responses:
        '200':
          description: __OK__
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SettlementPerSource'
        '400':
          description: |-
            __Bad Request__

            *  `INVALID_PARTICIPANT_ID` - partciipant not found in the system
          x-errors:
            - code: INVALID_PARTICIPANT_ID
              description: partciipant not found in the system
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          description: |-
            __Unprocessable Entity__

            *  `PERIOD_MISALIGNED` - periodFrom need to come before periodTo
            *  `PERIOD_TOO_LONG` - can be at most a month
          x-errors:
            - code: PERIOD_MISALIGNED
              description: periodFrom need to come before periodTo
            - code: PERIOD_TOO_LONG
              description: can be at most a month
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/finance/uiosi-overview:
    get:
      operationId: getFinanceUiosiOverview
      description: |-
        Fetch "Use it or Sell it" data by given filters

        ---

        __Requires Permission:__ (at least one)
          * `VIEW_OWN_UIOSI`
          * `VIEW_ANY_UIOSI`
      tags:
        - finance
      security:
        - ApiKey: []
        - AuthToken: []
      x-permissions:
        - VIEW_OWN_UIOSI
        - VIEW_ANY_UIOSI
      parameters:
        - in: query
          name: deliveryDay
          required: true
          schema:
            $ref: '#/components/schemas/Date'
        - $ref: '#/components/parameters/BorderDirection'
        - $ref: '#/components/parameters/Timescale'
        - $ref: '#/components/parameters/ParticipantIdOptional'
      responses:
        '200':
          description: __OK__
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UiosiOverview'
        '400':
          description: |-
            __Bad Request__

            *  `INVALID_PARTICIPANT_ID` - partciipant not found in the system
          x-errors:
            - code: INVALID_PARTICIPANT_ID
              description: partciipant not found in the system
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v1/finance/invoices:
    get:
      operationId: getFinanceInvoices
      description: |-
        Fetch a paginated, filterable list of Invoices

        ---

        __Requires Permission:__ (at least one)
          * `VIEW_OWN_INVOICES`
          * `VIEW_ANY_INVOICES`
      tags:
        - finance
      security:
        - ApiKey: []
        - AuthToken: []
      x-permissions:
        - VIEW_OWN_INVOICES
        - VIEW_ANY_INVOICES
      parameters:
        - $ref: '#/components/parameters/PageLimit'
        - $ref: '#/components/parameters/PageOffset'
        - in: query
          name: periodFrom
          required: true
          schema:
            $ref: '#/components/schemas/Date'
        - in: query
          name: periodTo
          required: true
          schema:
            $ref: '#/components/schemas/Date'
        - in: query
          name: statuses
          required: true
          schema:
            type: array
            items:
              $ref: '#/components/schemas/InvoiceStatus'
        - $ref: '#/components/parameters/ParticipantIdOptional'
      responses:
        '200':
          description: __OK__
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceBatch'
        '400':
          description: |-
            __Bad Request__

            *  `INVALID_PARTICIPANT_ID` - partciipant not found in the system
          x-errors:
            - code: INVALID_PARTICIPANT_ID
              description: partciipant not found in the system
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v1/finance/invoices/{id}:
    get:
      operationId: getFinanceInvoice
      description: |-
        Fetch an Invoice by its identifier

        ---

        __Requires Permission:__ (at least one)
          * `VIEW_OWN_INVOICES`
          * `VIEW_ANY_INVOICES`
      tags:
        - finance
      security:
        - ApiKey: []
        - AuthToken: []
      x-permissions:
        - VIEW_OWN_INVOICES
        - VIEW_ANY_INVOICES
      parameters:
        - $ref: '#/components/parameters/Identifier'
      responses:
        '200':
          description: __OK__
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceDetails'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/manual-file-upload/bids/long-term:
    post:
      operationId: uploadLongTermBids
      description: |-
        Upload bids as a Participant for a Long Term Auction as a "Bid Document", read more at: https://eepublicdownloads.entsoe.eu/clean-documents/EDI/Library/cim_based/schema/Bid_document_UML_model_and_schema_v1.1.pdf

        First you need to upload the "Bid Document" XML as a standard Attachment using the `uploadAttachment` endpoint, then you need to submit the returned ID of the Attachment to this endpoint, which validates file syntax and contents before accepting it.

        ---

        __Requires Permission:__ (at least one)
          * `MANAGE_OWN_MANUAL_FILE_UPLOAD_BIDS`
          * `MANAGE_ANY_MANUAL_FILE_UPLOAD`

        __Generates Audit Log Entry:__ `UPLOAD_LONG_TERM_BIDS`
      tags:
        - manual-file-upload
      security:
        - ApiKey: []
        - AuthToken: []
      x-permissions:
        - MANAGE_OWN_MANUAL_FILE_UPLOAD_BIDS
        - MANAGE_ANY_MANUAL_FILE_UPLOAD
      x-audit-log: UPLOAD_LONG_TERM_BIDS
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ManualFileUploadRequest'
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '400':
          description: |-
            __Bad Request__

            *  `INVALID_PARTICIPANT_EIC_CODE` - specified EIC code for a Participant not found in the system
            *  `INVALID_ATTACHMENT_ID` - Attachment ID not found in the system
            *  `SCHEMA_VALIDATION_ERROR` - contents of the submitted Attachment does not conform to the "Bid Document" schema
            *  `TIMESCALE_MISMATCH` - matching endpoint need to be used, see `submitLongTermBids`
            *  `BIDDING_NOT_POSSIBLE` - bidding is only possible in certain statuses, see `submitLongTermBids`
          x-errors:
            - code: INVALID_PARTICIPANT_EIC_CODE
              description: specified EIC code for a Participant not found in the system
            - code: INVALID_ATTACHMENT_ID
              description: Attachment ID not found in the system
            - code: SCHEMA_VALIDATION_ERROR
              description: contents of the submitted Attachment does not conform to the "Bid Document" schema
            - code: TIMESCALE_MISMATCH
              description: matching endpoint need to be used, see `submitLongTermBids`
            - code: BIDDING_NOT_POSSIBLE
              description: bidding is only possible in certain statuses, see `submitLongTermBids`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          description: |-
            __Unprocessable Entity__

            *  `INVALID_BID_CAPACITY` - see `submitLongTermBids`
            *  `INVALID_BID_PRICE` - see `submitLongTermBids`
            *  `TOO_MANY_BIDS` - see `submitLongTermBids`
          x-errors:
            - code: INVALID_BID_CAPACITY
              description: see `submitLongTermBids`
            - code: INVALID_BID_PRICE
              description: see `submitLongTermBids`
            - code: TOO_MANY_BIDS
              description: see `submitLongTermBids`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/manual-file-upload/bids/day-ahead-or-intra-day:
    post:
      operationId: uploadDayAheadOrIntraDayBids
      description: |-
        Upload Bids as a Participant for Day Ahead or Intra-Day Auction as a "Bid Document", read more at: https://eepublicdownloads.entsoe.eu/clean-documents/EDI/Library/cim_based/schema/Bid_document_UML_model_and_schema_v1.1.pdf

        First you need to upload the "Bid Document" XML as a standard Attachment using the `uploadAttachment` endpoint, then you need to submit the returned ID of the Attachment to this endpoint, which validates file syntax and contents before accepting it.

        ---

        __Requires Permission:__ (at least one)
          * `MANAGE_OWN_MANUAL_FILE_UPLOAD_BIDS`
          * `MANAGE_ANY_MANUAL_FILE_UPLOAD`

        __Generates Audit Log Entry:__ `UPLOAD_DAY_AHEAD_OR_INTRA_DAY_BIDS`
      tags:
        - manual-file-upload
      security:
        - ApiKey: []
        - AuthToken: []
      x-permissions:
        - MANAGE_OWN_MANUAL_FILE_UPLOAD_BIDS
[...]
